.page-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.page-login__wrapper {
    width: 100%;
    max-width: 448px;
    box-sizing: border-box;
    border-width: 1px;
    border-radius: 24px;
    border-style: solid;
    border-color: #e5e7eb;
    box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 1px 2px 0 hsla(0, 0%, 0%, 0.05);
    background-color: #fff;
    padding: 32px;
}

.page-login__header {
    color: #0f172a;
    font-weight: 700;
    letter-spacing: -0.75px;
    text-align: center;
    font-family: var(--font-family-inter);
}

.page-login__subheader {
    font-size: 16px;
    color: #64748b;
    margin-top: 8px;
    letter-spacing: -0.75px;
    text-align: center;
    font-family: var(--font-family-inter);
}

.page-login__field {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
}

.page-login__txt {
    font-size: 14px;
    font-weight: 500;
    color: #334155;
    margin-bottom: 8px;
    font-family: var(--font-family-inter);
}

.page-login__input {
    font-size: 16px;
    background-color: #f6f7f8;
    border: 1px solid #cbd5e1;
    color: #0f172a;
    padding: 8px 40px;
    border-radius: 16px;
}

.page-login__btn {
    color: #fff;
    background-color: #1997f0;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 16px;
    width: 100%;
    margin-top: 24px;
    padding: 12px;
    cursor: pointer;
    font-family: var(--font-family-inter);
}

.page-login__btn:hover {
    background-color: #1997f0e6;
}
